<template>
  <v-container
    class=" container d-flex flex-column justify-center align-center pt-10"
  >
    <h1 class="mb-2">Facesec</h1>
    <v-snackbar v-model="snackbar" top :timeout="timeout">
      {{ message }}

      <template v-slot:action="{ attrs }">
        <v-btn color="primary" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <v-card class="login p-10" outlined>
      <v-card-title> Ingresa tu usuario </v-card-title>
      <v-card-text>
        <v-text-field v-model="email" placeholder="Correo"> </v-text-field>
        <v-text-field
          v-model="password"
          placeholder="Contraseña"
          type="password"
        >
        </v-text-field>
        <div class="login__buttons d-flex flex-column align-center ">
          <v-btn @click="emailLogin()" class="login__button mt-2"
            >Acceder</v-btn
          >
          <v-btn
            class="login__button  mt-2"
            color="hsl(6, 60%, 48%)"
            @click="googleLogin"
          >
            <v-icon class="mr-1">mdi-google</v-icon>
            Acceder con Google
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import firebase from 'firebase';
const Login = {
  data() {
    return {
      snackbar: false,
      message: '',
      timeout: 3000,
      email: '',
      password: '',
    };
  },
  methods: {
    show(message) {
      this.snackbar = true;
      this.message = message;
    },
    firebaseEmailAuthenthication(email, password) {
      return firebase
        .auth()
        .signInWithEmailAndPassword(email, password)
        .then((response) => response);
    },
    firebaseGoogleAuthentication() {
      let provider = new firebase.auth.GoogleAuthProvider();
      provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
      return firebase.auth().signInWithPopup(provider);
    },

    emailLogin() {
      this.firebaseEmailAuthenthication(this.email, this.password)
        .then((response) => {
          console.log(response.user.email);
          this.$router.push('/dashboard');
        })
        .catch((error) => this.show(error.message));
    },

    async googleLogin() {
      this.firebaseGoogleAuthentication().then(() =>
        this.$router.push('/dashboard/main')
      );
    },
  },
};
export default Login;
</script>

<style scoped lang="scss">
.container {
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../assets/background.jpg');
  background-size: cover;
}
.login {
  width: 60%;
  &__button {
    width: 100%;
  }
}
</style>
