<template>
  <div class="content">
    <v-navigation-drawer
      app
      clipped
      permanent
      v-model="drawer"
      :mini-variant="drawer"
    >
      <v-dialog v-model="isThereSomethingAtDoor" max-width="450px" persistent>
        <v-card>
          <v-img :src="personInDoor.image"> </v-img>
          <v-card-title class="headline">
            {{ personInDoor.name }} is in the door
          </v-card-title>
          <v-card-subtitle> </v-card-subtitle>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="red darken-1" @click="handleDesagree">
              Disagree
            </v-btn>

            <v-btn color="green darken-1" @click="handleAgree">
              Agree
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-list dense>
        <v-list-item
          v-for="dashboardItem of dashboardItems"
          active-class="border"
          link
          router
          :key="dashboardItem.text"
          :to="dashboardItem.route"
        >
          <v-list-item-action>
            <v-icon>{{ dashboardItem.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ dashboardItem.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block> <v-icon small left>mdi-logout</v-icon>Logout</v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Facesec</v-toolbar-title>
    </v-app-bar>

    <v-main class="displayPages">
      <router-view class="gg"></router-view>
    </v-main>

    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <v-btn class="mt-2" color="hsl(6, 60%, 48%)" @click="alert">
        TestAlert
      </v-btn>
      <v-btn id="showAlert" class="d-none" name="" @click="faceDetected">
        Manana tepotztlan
      </v-btn>
    </v-footer>
  </div>
</template>

<script>
class dashboardItem {
  constructor(text, icon, route) {
    this.icon = icon;
    this.text = text;
    this.route = route;
  }
}

const Dashboard = {
  data: () => ({
    personInDoor: {},
    isThereSomethingAtDoor: false,
    drawer: true,
    dashboardItems: [
      new dashboardItem('Dashboard', 'mdi-view-dashboard', '/dashboard/main'),
      new dashboardItem('Settings', 'mdi-cogs', '/dashboard/settings'),
      new dashboardItem('Registry', 'mdi-history', '/dashboard/registry'),
    ],
  }),
  methods: {
    handleAgree() {
      //TODO: saveRegistry method need to be imported <01-10-20, sam_padilla>
      this.isThereSomethingAtDoor = false;
      this.personInDoor = {};
      console.log('access granted');
    },
    handleDesagree() {
      //TODO: saveRegistry method need to be imported <01-10-20, sam_padilla>
      this.isThereSomethingAtDoor = false;
      this.personInDoor = {};
    },
    alert() {
      window.eel.alert_py();
    },
    faceDetected(e) {
      //TODO: getPersonInDoor method need to be imported <01-10-20, sam_padilla>
      const name = e.target.name;
      this.personInDoor = {
        name: name,
        image: 'https://picsum.photos/450/500',
        registryDate: '11-12-12',
        isAllowed: false,
      };
      this.isThereSomethingAtDoor = true;
    },
  },
};

window.eel.expose(showAlert, 'faceDetected');

function showAlert(name) {
  const showAlertElement =  document.getElementById('showAlert');
  showAlertElement.name = name;
  showAlertElement.click();
}

export default Dashboard;
</script>

<style scoped>
.border {
  border-left: 1px solid tomato;
}
.displayPages {
  width: 100%;
}
</style>
