<template>
  <div class="allowed-people">
    <v-btn dark fab top left color="gray">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-row
          >
            <v-card
              v-for="allowedUser of allowedPeople"
              class="ma-2 pa-2"
              raised
              :key="allowedUser.name"
            >
              <div class="d-flex flex-no-wrap">
                <v-avatar class="ma-3" size="100" tile>
                  <v-img :src="allowedUser.image"></v-img>
                </v-avatar>
                <div class="d-flex">
                  <div class="heading">
                    <v-card-title class="headline">{{
                      allowedUser.name
                    }}</v-card-title>
                    <v-card-subtitle>
                      <strong>Allowed Date: </strong>
                      {{ allowedUser.allowedDate }}
                    </v-card-subtitle>
                  </div>
                  <div class="buttons d-flex flex-column">
                    <v-btn class="mt-3 ml-3">
                      <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                    <v-btn class="mt-3 ml-3">
                      <v-icon small>mdi-account-edit</v-icon>
                    </v-btn>
                  </div>
                </div>
              </div>
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import '@mdi/font/css/materialdesignicons.css';

export default {
  data: () => ({
    allowedPeople: [
      {
        name: 'Pedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'sedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'tedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'tedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'Pedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'sedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'tedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
      {
        name: 'tedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },

      {
        name: 'tedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },

      {
        name: 'qedrix',
        image: 'https://picsum.photos/200/300',
        allowedDate: '13 marzo de 2020',
      },
    ],
  }),
  methods: {},
};
</script>

<style scoped>
.allowed-people {
  width: 90%;
  margin: auto;
  margin-top: 1em;
}
</style>
