<template>
  <section>
    <h1>Registry works</h1>
    <v-btn @click="save"> Test Save</v-btn>
  </section>

</template>

<script>
import { registryPerson } from '../../helpers/firebase.helper';
export default {
  data: () => ({}),
  methods: {
    save(){
    
      registryPerson('lu uchiha', true, true);
    }
  },
};
</script>
